name: "[internal] caller"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate-ref:
    uses: dariocurr/checkout-called/.github/workflows/validate.yml@dev
    secrets: inherit

  validate-sha:
    uses: dariocurr/checkout-called/.github/workflows/validate.yml@0344afdbc95cff1021d41800a6eefe29d558d77b
    secrets: inherit
